.contenitore-nav{
    background-color: red;
    width: 100%;
    height: 10vh;
}
.container{
    width: 100%;
    height: 100vh;
    margin: auto;

}
.rosso{
    background-color: red;
}
.nav{
    position: fixed;
    left: 70%;
    
}
a{
    color: black;
    text-decoration: none;
}
.bottone{
    background-color: white;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 80%;
    top: 10px;
    margin: auto;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.bottone:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.contenuto{
    vertical-align: middle;
    font-size: 25px;
    position: relative;
    top: 15%;
}
.scarpa1{
    width: 60%;
    position: relative;
    left: 20%;
    top: -10%;
    
}
.paragrafo{
    position: relative;
    bottom: 10%;
    font-size: 50px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: 'Rubik Mono One', sans-serif;

}
.yellow{
    color: yellow;
}
.verde{
    background-color:#008000;
}
.giallo{
    background-color: yellow;
}
.green{
    color: #008000;
}
.scarpa2{
    width: 60%;
    position: relative;
    left: 20%;
    top: -3%;
   

}